.idea/
.vscode/
.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets
librispeech/
dataset/audio/
dataset/torgo/*
!dataset/torgo/
!dataset/torgo/train.jsonl
!dataset/torgo/train_speed.jsonl
!dataset/torgo/test.jsonl
!dataset/torgo/mean_istd.json
dataset/*.zip
dataset/*.tar
dataset/*.tar.gz
dataset/*.tar.bz2
dataset/*.tgz
dataset/*.flac
dataset/*.wav

# Models and results
uaspeechmodel/
torgomodel/
Comformer_Librispeech/
pretrain_models/
eval-results/
*.pt
*.ckpt
